@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-animate {
  background: linear-gradient(-45deg, #1D296A, #701a75 , #7B3FE4);
  background: linear-gradient(-104.84deg, #1D296A 0%, #701a75 29.04%, #7B3FE4 64.35%, #ff33bb 106.03%);
  background-repeat: no-repeat;

  background-size: 400% 400%;
  animation: animate 15s ease infinite;
}

@keyframes animate {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.upper-gradient {
  background: linear-gradient(-45deg, #1D296A , #702441 , #B62820 );
  background: linear-gradient(-104.84deg, #1D296A 0%, #702441 29.04%, #B62820 64.35%, #FAB42D 106.03%);
  background-repeat: no-repeat;

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.lower-gradient {
  background: linear-gradient(-45deg, #1D296A 0.45%, #702441 29.25%, #B62820 64.26%, #FAB42D 105.59%);
  background: linear-gradient(-283.84deg, #1D296A 0%, #702441 29.04%, #B62820 64.35%, #FAB42D 106.03%);
  background-repeat: no-repeat;

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

